Repository coordnet/coordnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend

ruff:
  name: ruff
  language: python
  language_version: python3.11
  require_serial: true
  entry: bash .pre-commit-run.sh django ruff check

mypy:
  name: mypy
  entry: bash .pre-commit-run.sh django mypy
  language: python
  language_version: python3.11
  require_serial: true
  additional_dependencies: []

eslint-crdt:
  name: eslint (crdt)
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm eslint

prettier-crdt:
  name: prettier (crdt)
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm prettier --write

tsc-crdt:
  name: tsc (crdt)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm tsc --project tsconfig.json

eslint-frontend:
  name: eslint (frontend)
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm eslint

prettier-frontend:
  name: prettier (frontend)
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm prettier --write --config /app/frontend/.prettierrc

tsc-frontend:
  name: tsc (frontend)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm tsc --project tsconfig.json

fix(deployment): Dockerfile syntax fix.
  compose/crdt/Dockerfile
  compose/frontend/Dockerfile
Due: none

feat(ui): Improve way Skills are created and add UX improvements for profiles and dashboard
  node/frontend/src/Dashboard.tsx
  node/frontend/src/Skill.tsx
  node/frontend/src/Space.tsx
  node/frontend/src/api.ts
  node/frontend/src/components/Canvas/UndoRedo.tsx
  node/frontend/src/components/Profiles/ImageUpload.tsx
  node/frontend/src/components/Profiles/Profile.tsx
  node/frontend/src/components/Skill.tsx
  node/frontend/src/components/Skills/Header.tsx
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
  node/frontend/src/components/Skills/SkillCard.tsx
  node/frontend/src/components/Skills/SkillManage.tsx
  node/frontend/src/components/Skills/SkillsList.tsx
  node/frontend/src/components/Spaces/Header.tsx
  node/frontend/src/components/Spaces/Sidebar.tsx
  node/frontend/src/components/index.ts
  node/frontend/src/types.ts
  node/packages/core/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(build): Add sentry to base requirements.
  requirements/base.in
  requirements/local.txt
  requirements/production.in
  requirements/production.txt
Due: none

feat(llm): Add support for o3, enable streaming for o1 and o3 in back-end
  CHANGELOG.md
  backend/buddies/consumers.py
  backend/buddies/models.py
  backend/config/settings/base.py
  backend/utils/tokens.py
  node/frontend/src/components/Buddies/BuddyForm.tsx
  node/frontend/src/components/Buddies/index.tsx
  node/frontend/src/components/LLM/index.tsx
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
  node/frontend/src/constants.ts
  node/packages/core/src/constants.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/tables.ts
Due: ruff, mypy, eslint-frontend, prettier-frontend, tsc-frontend

fix(ui): Edge buig when selected node and editor offset top for skills
  node/frontend/src/Skill.tsx
  node/frontend/src/components/Canvas/ConnectionLine.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(editor): Select all in read only with Ctrl+A
  node/frontend/src/components/Editor/index.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(ui): Update link to request a skill
  node/frontend/src/Dashboard.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(ui): Show all skills on the Dashboard
  node/frontend/src/Dashboard.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(ui): Dashboard request skill icon
  node/frontend/src/Dashboard.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Make method function args required
  backend/nodes/views.py
Due: ruff, mypy

fix(crdt): Increase timeout to fix flashing load bug
  .envs/.local/.crdt
  kubernetes/configmaps.yaml
  node/crdt/src/settings.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt

fix(skills): Fix bug where PaperQA results were not added to the output node
  node/packages/core/src/skills/paperQA.ts
Due: none

fix(ui): Set message reconnect timeout to 5m for HocusPocus
  node/frontend/src/components/Skills/utils.ts
  node/frontend/src/hooks/useConnectedDocument.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(ui): Various small bug fixes to Skill interface
  node/frontend/src/components/Canvas/Controls.tsx
  node/frontend/src/components/Canvas/UndoRedo.tsx
  node/frontend/src/components/Skills/Header.tsx
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
  node/frontend/src/components/Skills/SkillManage.tsx
  node/packages/core/src/skills/createTasks.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(canvas): Add markmap import and dropdown for alignment direction
  node/frontend/package.json
  node/frontend/src/components/Canvas/Sidebar.tsx
  node/frontend/src/components/Canvas/getLayoutedNodes.ts
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/markmapImport.ts
  node/frontend/src/components/Canvas/utils.ts
  node/pnpm-lock.yaml
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(deployment): Add broker url for skill executions running in crdt container.
  .envs/.local/.crdt
  node/crdt/src/express.ts
  node/crdt/src/worker.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt

fix(ui): Remove blue background from run button
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

build: Clean-up and update workspace packages
  node/crdt/package.json
  node/frontend/package.json
  node/package.json
  node/packages/core/package.json
  node/pnpm-lock.yaml
  node/pnpm-workspace.yaml
Due: prettier-crdt, prettier-frontend

fix(deployment): Install ca-certificates again.
  compose/frontend/Dockerfile
Due: none

fix(editor): Add YDoc to useTipTapEditor hook so contents are updated on change
  node/frontend/src/components/Editor/index.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Optimise for large skills and clean the skill JSON in a different place
  compose.yml
  node/crdt/src/db.ts
  node/crdt/src/express.ts
  node/crdt/src/server.ts
  node/crdt/src/utils.ts
  node/crdt/src/worker.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/tables.ts
  node/packages/core/src/skills/utils.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt

refactor(llm): Clean up token calculation, since tiktoken now supports all the model names we need.
  backend/utils/tokens.py
Due: ruff, mypy

feat(canvas): Add support for multiple PDF uploads
  node/crdt/src/server.ts
  node/frontend/.prettierrc
  node/frontend/src/components/Canvas/getLayoutedNodes.ts
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/utils.ts
  node/frontend/src/lib/pdfjs-lib.d.ts
  node/frontend/src/lib/pdfjs.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Improve method selection and attachment handling.
  backend/nodes/views.py
Due: ruff, mypy

build: Create one prettier config using overrides for node directories
  .pre-commit-config.yaml
  compose/crdt/Dockerfile
  compose/frontend/Dockerfile
  node/.prettierrc
  node/crdt/.prettierrc
  node/frontend/.prettierrc
Due: none

fix(deployment): (Hopefully) temporary fix to move frontend build-step into backend container.
  compose/django/Dockerfile
Due: none

feat(skills): Clean up skill document periodically
  node/crdt/.prettierrc
  node/crdt/src/server.ts
  node/crdt/src/worker.ts
  node/packages/core/src/skills/utils.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt

build: Update front-end packages
  node/crdt/package.json
  node/frontend/package.json
  node/package.json
  node/packages/core/package.json
  node/pnpm-lock.yaml
Due: prettier-crdt, prettier-frontend

feat(llm): WIP Initial Deep Research tool implementation.
  .envs/.local/.secrets.example
  backend/config/settings/base.py
  backend/tools/open_deep_research/LICENSE
  backend/tools/open_deep_research/README.md
  backend/tools/open_deep_research/__init__.py
  backend/tools/open_deep_research/cookies.py
  backend/tools/open_deep_research/gaia_scorer.py
  backend/tools/open_deep_research/mdconvert.py
  backend/tools/open_deep_research/reformulator.py
  backend/tools/open_deep_research/requirements.txt
  backend/tools/open_deep_research/run_agents.py
  backend/tools/open_deep_research/text_inspector_tool.py
  backend/tools/open_deep_research/text_web_browser.py
  backend/tools/open_deep_research/visual_qa.py
  backend/tools/serializers.py
  backend/tools/urls.py
  backend/tools/views.py
  compose/django/Dockerfile
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy

fix(skills): Use method data to create a run from the UI
  .pre-commit-config.yaml
  node/.prettierrc
  node/crdt/src/server.ts
  node/crdt/src/utils.ts
  node/crdt/src/worker.ts
  node/frontend/.prettierrc.docker.json
  node/frontend/src/Skill.tsx
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
  node/frontend/src/components/Spaces/Header.tsx
  node/frontend/src/hooks/useConnectedDocument.ts
  node/frontend/src/hooks/useRunSkill.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend

feat(canvas): Refactor file drop to support multiple types at once and add markdown
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/utils/handleCanvasDrop.ts
  node/frontend/src/components/Canvas/utils/index.ts
  node/frontend/src/components/Canvas/utils/markmapImport.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(auth): Add JWT authentication support.
  .envs/.local/.django.secrets.example
  .envs/.local/.secrets.example
  .gitignore
  README.md
  backend/config/settings/base.py
  backend/users/api/urls.py
  compose.yml
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy

feat(skills): Add Deep Research node and connect to back-end
  node/packages/core/src/skills/api.ts
  node/packages/core/src/skills/createTasks.ts
  node/packages/core/src/skills/deepResearch.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/types.ts
Due: none

feat(nodes): Add context endpoint for nodes.
  CHANGELOG.md
  backend/nodes/models.py
  backend/nodes/tests/fixtures.py
  backend/nodes/tests/test_models.py
  backend/nodes/tests/test_node_sync.py
  backend/nodes/tests/test_views/test_nodes.py
  backend/nodes/views.py
Due: ruff, mypy

feat(auth): Pass JWT credentials to server executing a skill so it can query on behalf of the user.
  CHANGELOG.md
  backend/nodes/views.py
Due: ruff, mypy

fix(auth): Switch WS buddy communication to JWT.
  backend/buddies/consumers.py
  backend/config/asgi.py
  backend/config/settings/base.py
  backend/coordnet/utils/__init__.py
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy

fix(canvas): Parse tables when adding content to node pages
  node/packages/core/src/skills/utils.ts
Due: none

fix(nodes): Return the encoded JWT instead of the Token instance.
  backend/nodes/views.py
Due: ruff, mypy

Revert "fix(auth): Switch WS buddy communication to JWT."
  backend/buddies/consumers.py
  backend/config/asgi.py
  backend/config/settings/base.py
  backend/coordnet/utils/__init__.py
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy

fix(auth): Switch WS buddy communication to JWT.
  backend/buddies/consumers.py
  backend/config/asgi.py
  backend/coordnet/utils/__init__.py
Due: ruff, mypy

Path conditions:
  ruff: any of: \.py$, but not: ^docs/|/migrations/
  mypy: any of: \.py$, but not: ^docs/|/migrations/
  eslint-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-crdt: any of: ^node/crdt/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-frontend: any of: ^node/frontend/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
