Repository coordnet/coordnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core

Path conditions:
  ruff: any of: \.py$, but not: ^docs/|/migrations/
  eslint-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-crdt: any of: ^node/crdt/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-frontend: any of: ^node/frontend/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-core: any of: ^node/packages/core/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-core: any of: ^node/packages/core/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)

fix(llm): Use 'developer' message instead of deprecated 'system' message.
  backend/buddies/models.py
Due: ruff

docs: Release v25.5.1.
  CHANGELOG.md
Due: none

fix(skills): Fix text input for skill runner & improve buddy dropdown for skill nodes and skill runner
  node/frontend/src/components/Canvas/Nodes/BuddySelect.tsx
  node/frontend/src/components/SkillsRunner/Input/TextInputModal.tsx
  node/frontend/src/components/SkillsRunner/Skill.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(llms): Fix calling of OpenAI client after refactor.
  backend/buddies/views.py
Due: ruff

docs: Release v25.5.2
  CHANGELOG.md
Due: none

feat(skills): Allow for sharing/permissions on skills.
  CHANGELOG.md
  backend/nodes/migrations/0043_remove_methodnoderun_nodes_metho_public__89eb37_idx_and_more.py
  backend/nodes/migrations/0044_methodnode_run_permissions.py
  backend/nodes/models.py
  backend/nodes/tests/factories.py
  backend/nodes/tests/test_views/test_method_runs.py
  backend/nodes/tests/test_views/test_method_runs_sharing.py
  backend/nodes/views.py
Due: ruff

build: Update front-end packages
  compose/crdt/Dockerfile
  compose/frontend/Dockerfile
  node/crdt/package.json
  node/crdt/pnpm-lock.yaml
  node/frontend/package.json
  node/frontend/pnpm-lock.yaml
  node/packages/core/package.json
  node/packages/core/pnpm-lock.yaml
  node/pnpm-lock.yaml
  node/pnpm-workspace.yaml
Due: prettier-crdt, prettier-frontend, prettier-core

refactor(skills): Small changes to writing to spaces logic
  backend/config/settings/base.py
  node/packages/core/src/skills/createTasks.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/externalData.ts
  node/packages/core/src/skills/utils.ts
Due: ruff, eslint-core, prettier-core

docs: Update changelog
  CHANGELOG.md
Due: none

fix: Remove removed pnpm-lock files from the Django Dockerfile
  compose/django/Dockerfile
Due: none

feat(skills): Add file handling for PaperQA collections.
  .envs/.local/.django
  CHANGELOG.md
  backend/config/api_router.py
  backend/config/settings/base.py
  backend/config/settings/local.py
  backend/config/settings/test.py
  backend/tools/apps.py
  backend/tools/migrations/0002_remove_paperqacollection_files_and_more.py
  backend/tools/migrations/0003_paperqacollection_index.py
  backend/tools/serializers.py
  backend/tools/signals.py
  backend/tools/tasks.py
  backend/tools/tests/factories.py
  backend/tools/upload_to_paperqa.py
  backend/tools/views.py
  backend/uploads/__init__.py
  backend/uploads/admin.py
  backend/uploads/apps.py
  backend/uploads/migrations/0001_initial.py
  backend/uploads/migrations/__init__.py
  backend/uploads/models.py
  backend/uploads/serializers.py
  backend/uploads/tests/__init__.py
  backend/uploads/tests/factories.py
  backend/uploads/tests/test_models.py
  backend/uploads/tests/test_views.py
  backend/uploads/urls.py
  backend/uploads/views.py
  backend/utils/models.py
  docs/schema.yml
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff

fix(deployment): Pin MinIO version in k8s due to a config change.
  compose/django/Dockerfile
  kubernetes/minio.yaml
Due: none

feat(skills): Disable FH API node type for now
  node/frontend/src/components/Canvas/Nodes/NodeTypeSelect.tsx
  node/packages/core/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core

feat(skills): Add UI for managing skill run permissions
  node/frontend/src/api/index.ts
  node/frontend/src/components/Canvas/Controls.tsx
  node/frontend/src/components/Permissions/List.tsx
  node/frontend/src/components/Permissions/Member.tsx
  node/frontend/src/components/Skills/Header.tsx
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
  node/frontend/src/components/Skills/SkillRunPermissions.tsx
  node/frontend/src/types.ts
  node/packages/core/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core

fix(development): Add two different storage classes as a workaround for differing minio hostnames.
  backend/config/settings/local.py
  backend/profiles/models.py
  backend/tools/tasks.py
  backend/uploads/models.py
  backend/utils/storage.py
Due: ruff

fix(skills): Remove exception content from response.
  backend/tools/views.py
Due: ruff

fix(skills): Make upload script for paperQA more fault-tolerant.
  backend/tools/upload_to_paperqa.py
Due: ruff

fix(deployment): Scale up worker resources.
  fly.toml
Due: none

build(db): Bump pgbouncer version.
  compose/pgbouncer/Dockerfile
Due: none

fix(admin): Improve admin interface performance by using search fields.
  CHANGELOG.md
  backend/buddies/admin.py
  backend/llms/admin.py
  backend/nodes/admin.py
  backend/permissions/admin.py
  backend/profiles/admin.py
  backend/tools/admin.py
  backend/uploads/admin.py
  backend/users/admin.py
Due: ruff

feat(skills): Support all response types for external data nodes
  node/packages/core/src/skills/api.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/externalData.ts
  node/packages/core/src/skills/utils.ts
Due: eslint-core, prettier-core

fix(skills): Ensure all websockets are closed after reading
  node/crdt/src/server.ts
  node/crdt/src/worker.ts
  node/frontend/src/components/Canvas/Nodes/ExternalNode.tsx
  node/packages/core/src/utils.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core

fix(skills): Decode table heading HTML entities
  node/packages/core/package.json
  node/packages/core/src/skills/tables.ts
  node/pnpm-lock.yaml
Due: eslint-core, prettier-core

test(tools): Remove debug print.
  backend/tools/tests/test_markitdown.py
Due: ruff

fix(skills): Add correct permission check for execution of runs.
  backend/nodes/models.py
  backend/nodes/tests/test_views/test_method_versions.py
Due: ruff

refactor: Ignore junie guidelines for now.
  .gitignore
Due: none

fix(skills): Create ownership relation when creating a methodnode run.
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/tests/test_views/test_method_runs.py
  backend/nodes/tests/test_views/test_method_versions.py
Due: ruff

build: Upgrade hocuspocus
  .gitignore
  node/crdt/package.json
  node/crdt/src/server.ts
  node/frontend/package.json
  node/frontend/src/components/SkillsRunner/Input/TextInputModal.tsx
  node/frontend/src/hooks/useConnectedDocument.ts
  node/frontend/src/lib/utils.ts
  node/packages/core/package.json
  node/packages/core/src/skills/utils.ts
  node/pnpm-lock.yaml
Due: eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core

fix: Bug when navigating back to dashboard where skill is not yet loaded
  .gitignore
  node/frontend/src/Dashboard.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Refactor context menu, enable multiple exports from spaces and enable copying from skill runs to spaces
  node/frontend/src/components/Canvas/ContextMenu.tsx
  node/frontend/src/components/Canvas/Nodes/CanvasNode.tsx
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/utils/handleCanvasDrop.ts
  node/frontend/src/components/Canvas/utils/index.ts
  node/frontend/src/components/NodeRepository.tsx
  node/frontend/src/components/NodeRepositorySelector.tsx
  node/frontend/src/components/Profiles/ProfileCardManage.tsx
  node/frontend/src/components/Skills/SkillManage.tsx
  node/frontend/src/components/SkillsRunner/index.tsx
  node/frontend/src/hooks/index.ts
  node/frontend/src/hooks/useContextMenu/context.ts
  node/frontend/src/hooks/useContextMenu/index.ts
  node/frontend/src/hooks/useContextMenu/provider.tsx
  node/frontend/src/hooks/useNodeCopy/context.ts
  node/frontend/src/hooks/useNodeCopy/index.ts
  node/frontend/src/hooks/useNodeCopy/provider.tsx
  node/frontend/src/lib/nodes.ts
  node/frontend/src/lib/utils.ts
  node/frontend/src/main.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Improve handling of last node writing
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/paperQA.ts
  node/packages/core/src/skills/tables.ts
Due: eslint-core, prettier-core

fix(skills): Bug when copying nodes and canvas to space
  node/frontend/src/lib/nodes.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Updated options and logic for copying nodes from a skill run to a space
  node/frontend/src/components/Canvas/ContextMenu.tsx
  node/frontend/src/components/Canvas/utils/index.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Add filters for skill runs.
  backend/nodes/filters.py
  backend/nodes/serializers.py
  backend/nodes/tests/test_views/test_method_runs.py
  backend/nodes/views.py
  docs/redoc-static.html
  docs/schema.yml
Due: ruff

feat(skills): Filter UI for skill runs
  .gitignore
  node/frontend/src/api/index.ts
  node/frontend/src/components/Canvas/Controls.tsx
  node/frontend/src/components/Skills/Header.tsx
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
  node/frontend/src/components/Skills/SkillRunHistory.tsx
  node/frontend/src/components/Skills/SkillRunPermissions.tsx
  node/packages/core/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core
