Repository coordnet/coordnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend

ruff:
  name: ruff
  language: python
  language_version: python3.11
  require_serial: true
  entry: bash .pre-commit-run.sh django ruff check

mypy:
  name: mypy
  entry: bash .pre-commit-run.sh django mypy
  language: python
  language_version: python3.11
  require_serial: true
  additional_dependencies: []

eslint-crdt:
  name: eslint (crdt)
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm eslint

prettier-crdt:
  name: prettier (crdt)
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm prettier --write

tsc-crdt:
  name: tsc (crdt)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm tsc --project tsconfig.json

eslint-frontend:
  name: eslint (frontend)
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm eslint

prettier-frontend:
  name: prettier (frontend)
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm prettier --write --config /app/frontend/.prettierrc

tsc-frontend:
  name: tsc (frontend)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm tsc --project tsconfig.json

fix(skills): Send JSON content to tiptap editor in skills runner
  node/frontend/src/components/SkillsRunner/Output.tsx
  node/frontend/src/components/SkillsRunner/index.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Add buddy selection and copy buttons to skills runner
  node/frontend/package.json
  node/frontend/src/components/SkillsRunner/Output.tsx
  node/frontend/src/components/SkillsRunner/Skill.tsx
  node/frontend/src/components/SkillsRunner/index.tsx
  node/pnpm-lock.yaml
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Improve loader and fix nodes not found bug
  node/frontend/src/components/SkillsRunner/Input.tsx
  node/frontend/src/components/SkillsRunner/Skill.tsx
  node/frontend/src/components/SkillsRunner/index.tsx
  node/packages/core/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Add 'Default' buddy to unset a nodes buddy
  node/frontend/src/components/Canvas/Nodes/BuddySelect.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Integrate with MarkItDown and add copy / share button for skills runner
  node/frontend/src/api/index.ts
  node/frontend/src/components/Skills/Header.tsx
  node/frontend/src/components/Skills/SkillCard.tsx
  node/frontend/src/components/Skills/utils.ts
  node/frontend/src/components/SkillsRunner/Input.tsx
  node/frontend/src/components/SkillsRunner/utils.tsx
  node/frontend/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Refactor Skill Runner Input component and allow multiple text blocks to be added
  node/frontend/src/components/SkillsRunner/Input.tsx
  node/frontend/src/components/SkillsRunner/Input/Dropzone.tsx
  node/frontend/src/components/SkillsRunner/Input/InputItem.tsx
  node/frontend/src/components/SkillsRunner/Input/TextInputModal.tsx
  node/frontend/src/components/SkillsRunner/Input/hooks/useFileUpload.ts
  node/frontend/src/components/SkillsRunner/Input/hooks/useTextInput.ts
  node/frontend/src/components/SkillsRunner/Input/index.tsx
  node/frontend/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Don't show loading status on skills runner output
  node/frontend/src/components/SkillsRunner/Output.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Add version changer to skill runner
  node/frontend/src/components/Skills/SkillVersions.tsx
  node/frontend/src/components/SkillsRunner/index.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

Revert "fix(skills): Don't show loading status on skills runner output"
  node/frontend/src/components/SkillsRunner/Output.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Fix clipboard bug in Safari, restore deleted Output code
  node/frontend/src/components/Skills/utils.ts
  node/frontend/src/components/SkillsRunner/Output.tsx
  node/frontend/src/components/SkillsRunner/index.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Add minimum cell width to tables, filter skills runner runs by version, update upload icons
  node/frontend/src/components/Editor/extensions/index.ts
  node/frontend/src/components/Skills/SkillRunHistory.tsx
  node/frontend/src/components/SkillsRunner/Output.tsx
  node/frontend/src/components/SkillsRunner/index.tsx
  node/frontend/src/components/SkillsRunner/utils.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Skills runner output copy markdown button styling
  node/frontend/src/components/SkillsRunner/Output.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Skills Runner add link to skill page of run
  node/frontend/src/components/Skills/SkillRunHistory.tsx
  node/frontend/src/components/SkillsRunner/index.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Fix dropzone state when dragging in Safari
  node/frontend/src/components/SkillsRunner/index.tsx
  node/frontend/src/hooks/useWindowDrag.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Add Skills Runner dropdown to support copying and navigating to skill runner URL
  node/frontend/src/components/Skills/Header.tsx
  node/frontend/src/components/Skills/SkillCard.tsx
  node/frontend/src/components/Skills/SkillRunnerDropdown.tsx
  node/frontend/src/components/Skills/utils.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Switch 'Show Analysis' to use new shared processTasks method from core
  node/frontend/src/hooks/useRunSkill.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Use JSONContent for skill runner file content and parse Markdown from MarkItDown
  node/frontend/src/components/SkillsRunner/Input/TextInputModal.tsx
  node/frontend/src/components/SkillsRunner/Input/hooks/useFileUpload.ts
  node/frontend/src/components/SkillsRunner/Input/hooks/useTextInput.ts
  node/frontend/src/components/SkillsRunner/Input/index.tsx
  node/frontend/src/components/SkillsRunner/index.tsx
  node/frontend/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Improve Skills Runner mobile layout
  node/frontend/src/components/SkillsRunner/Input/Dropzone.tsx
  node/frontend/src/components/SkillsRunner/Input/index.tsx
  node/frontend/src/components/SkillsRunner/Output.tsx
  node/frontend/src/components/SkillsRunner/Skill.tsx
  node/frontend/src/components/SkillsRunner/index.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

ci: Deactivate mypy for now.
  .pre-commit-config.yaml
Due: none

feat(llm): Make LLMs configurable in the backend.
  CHANGELOG.md
  backend/buddies/admin.py
  backend/buddies/consumers.py
  backend/buddies/models.py
  backend/buddies/views.py
  backend/config/settings/base.py
  backend/config/urls.py
  backend/coordnet/templates/pages/home.html
  backend/llms/__init__.py
  backend/llms/admin.py
  backend/llms/fixtures/llms.json
  backend/llms/migrations/0001_initial.py
  backend/llms/migrations/__init__.py
  backend/llms/models.py
  backend/llms/utils.py
  backend/nodes/views.py
  compose/django/start
Due: ruff, mypy

feat(skills): Add local PaperQA setup for testing.
  .envs/.local/.django
  .envs/.local/.secrets.example
  .gitignore
  backend/config/settings/base.py
  backend/tools/paperqa/home/.keep
  backend/tools/paperqa/pdfs/.keep
  backend/tools/serializers.py
  backend/tools/urls.py
  backend/tools/views.py
  node/frontend/src/components/Canvas/Nodes/NodeTypeSelect.tsx
  node/packages/core/src/skills/paperQA.ts
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy, eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Allow for creation and querying of PaperQA collections.
  CONTRIBUTING.md
  backend/config/settings/base.py
  backend/tools/admin.py
  backend/tools/filters.py
  backend/tools/migrations/0001_initial.py
  backend/tools/models.py
  backend/tools/paperqa/home/.keep
  backend/tools/serializers.py
  backend/tools/urls.py
  backend/tools/views.py
  fly.hocuspocus.toml
  fly.toml
Due: ruff, mypy

docs: Update changelog
  CHANGELOG.md
Due: none

feat(skills): Add PaperQA Collection node type to UI and connect to endpoint
  node/frontend/src/api/index.ts
  node/frontend/src/components/Canvas/Nodes/CanvasNode.tsx
  node/frontend/src/components/Canvas/Nodes/PaperQACollectionsSelect.tsx
  node/frontend/src/types.ts
  node/packages/core/src/skills/api.ts
  node/packages/core/src/skills/createTasks.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/paperQA.ts
  node/packages/core/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

fixup! feat(skills): Allow for creation and querying of PaperQA collections.
  fly.hocuspocus.toml
  fly.toml
Due: none

fix(llms): Load available LLMs at render time.
  .pre-commit-config.yaml
  backend/config/urls.py
  backend/coordnet/templates/pages/home.html
  pyproject.toml
Due: ruff, mypy

fix(llms): Change home view into real CBV.
  backend/config/urls.py
  backend/config/views.py
Due: ruff, mypy

test: Start fixing typing issues around factory-boy.
  backend/buddies/tests/factories.py
  backend/nodes/models.py
  backend/nodes/tests/factories.py
  backend/permissions/tests/factories.py
  backend/profiles/tests/factories.py
  node/frontend/src/components/Profiles/ProfileField.tsx
  node/packages/core/src/utils.ts
  requirements/production.txt
Due: ruff, mypy, eslint-frontend, prettier-frontend, tsc-frontend

feat(llm): Move configuration into separate config.js file.
  backend/config/urls.py
  backend/config/views.py
  backend/coordnet/templates/pages/config.js
  backend/coordnet/templates/pages/home.html
Due: ruff, mypy

feat(deployment): Add support for Azure Blob Storage as object storage.
  CHANGELOG.md
  backend/config/settings/base.py
  backend/utils/apps.py
  backend/utils/checks.py
  backend/utils/storage_checks.py
  kubernetes/configmaps.yaml
  kubernetes/secrets-template.yaml
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy

feat(buddies): Load the available LLMs from the back-end using /config.js
  .envs/.local/.django
  .envs/.local/.frontend
  backend/config/settings/base.py
  compose.yml
  node/frontend/index.html
  node/frontend/src/components/Buddies/BuddyForm.tsx
  node/frontend/src/components/Buddies/index.tsx
  node/frontend/src/constants.ts
  node/frontend/src/index.d.ts
  node/frontend/vite.config.ts
  node/packages/core/src/constants.ts
  node/packages/core/src/index.ts
  node/packages/core/src/types.ts
Due: ruff, mypy, eslint-frontend, prettier-frontend, tsc-frontend

build: Fix k8s job
  .github/workflows/k8s.yml
  kubernetes/configmaps.yaml
Due: none

Path conditions:
  ruff: any of: \.py$, but not: ^docs/|/migrations/
  mypy: any of: \.py$, but not: ^docs/|/migrations/
  eslint-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-crdt: any of: ^node/crdt/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-frontend: any of: ^node/frontend/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
