Repository coordnet/coordnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend

Path conditions:
  ruff: any of: \.py$, but not: ^docs/|/migrations/
  mypy: any of: \.py$, but not: ^docs/|/migrations/
  eslint-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-crdt: any of: ^node/crdt/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-frontend: any of: ^node/frontend/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/

feat(nodes): Add decision endpoint that tries to decide what method to call based on a discord chat history.
  backend/nodes/views.py
Due: ruff, mypy

fix(deployment): Dockerfile syntax fix.
  compose/crdt/Dockerfile
  compose/frontend/Dockerfile
Due: none

fix(build): Add sentry to base requirements.
  requirements/base.in
  requirements/local.txt
  requirements/production.in
  requirements/production.txt
Due: none

fix(ui): Edge buig when selected node and editor offset top for skills
  node/frontend/src/Skill.tsx
  node/frontend/src/components/Canvas/ConnectionLine.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(llm): Add support for o3, enable streaming for o1 and o3 in back-end
  CHANGELOG.md
  backend/buddies/consumers.py
  backend/buddies/models.py
  backend/config/settings/base.py
  backend/utils/tokens.py
  node/frontend/src/components/Buddies/BuddyForm.tsx
  node/frontend/src/components/Buddies/index.tsx
  node/frontend/src/components/LLM/index.tsx
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
  node/frontend/src/constants.ts
  node/packages/core/src/constants.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/tables.ts
Due: ruff, mypy, eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Make method function args required
  backend/nodes/views.py
Due: ruff, mypy

feat(editor): Select all in read only with Ctrl+A
  node/frontend/src/components/Editor/index.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(ui): Show all skills on the Dashboard
  node/frontend/src/Dashboard.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(crdt): Increase timeout to fix flashing load bug
  .envs/.local/.crdt
  kubernetes/configmaps.yaml
  node/crdt/src/settings.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt

fix(skills): Fix bug where PaperQA results were not added to the output node
  node/packages/core/src/skills/paperQA.ts
Due: none

fix(ui): Update link to request a skill
  node/frontend/src/Dashboard.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(ui): Remove blue background from run button
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

build: Clean-up and update workspace packages
  node/crdt/package.json
  node/frontend/package.json
  node/package.json
  node/packages/core/package.json
  node/pnpm-lock.yaml
  node/pnpm-workspace.yaml
Due: prettier-crdt, prettier-frontend

fix(editor): Add YDoc to useTipTapEditor hook so contents are updated on change
  node/frontend/src/components/Editor/index.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(ui): Set message reconnect timeout to 5m for HocusPocus
  node/frontend/src/components/Skills/utils.ts
  node/frontend/src/hooks/useConnectedDocument.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(ui): Dashboard request skill icon
  node/frontend/src/Dashboard.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(ui): Various small bug fixes to Skill interface
  node/frontend/src/components/Canvas/Controls.tsx
  node/frontend/src/components/Canvas/UndoRedo.tsx
  node/frontend/src/components/Skills/Header.tsx
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
  node/frontend/src/components/Skills/SkillManage.tsx
  node/packages/core/src/skills/createTasks.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(canvas): Add markmap import and dropdown for alignment direction
  node/frontend/package.json
  node/frontend/src/components/Canvas/Sidebar.tsx
  node/frontend/src/components/Canvas/getLayoutedNodes.ts
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/markmapImport.ts
  node/frontend/src/components/Canvas/utils.ts
  node/pnpm-lock.yaml
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(deployment): Add broker url for skill executions running in crdt container.
  .envs/.local/.crdt
  node/crdt/src/express.ts
  node/crdt/src/worker.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt

fix(deployment): Install ca-certificates again.
  compose/frontend/Dockerfile
Due: none

fix(deployment): (Hopefully) temporary fix to move frontend build-step into backend container.
  compose/django/Dockerfile
Due: none

refactor(llm): Clean up token calculation, since tiktoken now supports all the model names we need.
  backend/utils/tokens.py
Due: ruff, mypy

fix(skills): Improve method selection and attachment handling.
  backend/nodes/views.py
Due: ruff, mypy

feat(nodes): Add context endpoint for demo. WARNING: NO AUTH!
  backend/nodes/models.py
  backend/nodes/tests/test_models.py
  backend/nodes/views.py
Due: ruff, mypy

feat(skills): Allow adding nodes from spaces to skills and add their context to prompts
  node/frontend/src/Skill.tsx
  node/frontend/src/components/Canvas/ExternalNode.tsx
  node/frontend/src/components/Canvas/Sidebar.tsx
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/NodeRepository.tsx
  node/packages/core/src/skills/api.ts
  node/packages/core/src/skills/createTasks.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: Update CHANGELOG.md (#490)
  CHANGELOG.md
Due: none

feat(skills): Clean up skill document periodically
  node/crdt/.prettierrc
  node/crdt/src/server.ts
  node/crdt/src/worker.ts
  node/packages/core/src/skills/utils.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt

feat(canvas): Add support for multiple PDF uploads
  node/crdt/src/server.ts
  node/frontend/.prettierrc
  node/frontend/src/components/Canvas/getLayoutedNodes.ts
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/utils.ts
  node/frontend/src/lib/pdfjs-lib.d.ts
  node/frontend/src/lib/pdfjs.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend

build: Create one prettier config using overrides for node directories
  .pre-commit-config.yaml
  compose/crdt/Dockerfile
  compose/frontend/Dockerfile
  node/.prettierrc
  node/crdt/.prettierrc
  node/frontend/.prettierrc
Due: none

feat(skills): Optimise for large skills and clean the skill JSON in a different place
  compose.yml
  node/crdt/src/db.ts
  node/crdt/src/express.ts
  node/crdt/src/server.ts
  node/crdt/src/utils.ts
  node/crdt/src/worker.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/tables.ts
  node/packages/core/src/skills/utils.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt

refactor: Fix runtime type casting issue detected by new ruff version.
  backend/permissions/managers.py
Due: ruff, mypy

feat(nodes): Add action for backend execution of skills to node run endpoint .
  .envs/.local/.crdt
  .envs/.local/.django
  CHANGELOG.md
  backend/config/settings/base.py
  backend/nodes/models.py
  backend/nodes/tests/test_views/test_method_runs.py
  backend/nodes/views.py
Due: ruff, mypy

feat(nodes): Add tool execution endpoint for PaperQA.
  .envs/.local/.secrets.example
  .pre-commit-config.yaml
  backend/config/api_router.py
  backend/tools/__init__.py
  backend/tools/admin.py
  backend/tools/apps.py
  backend/tools/migrations/__init__.py
  backend/tools/models.py
  backend/tools/serializers.py
  backend/tools/tests.py
  backend/tools/urls.py
  backend/tools/views.py
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy

feat(skills): Add PaperQA node type and connect to back-end
  node/crdt/src/worker.ts
  node/packages/core/src/index.ts
  node/packages/core/src/skills/api.ts
  node/packages/core/src/skills/createTasks.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/paperQA.ts
  node/packages/core/src/types.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt

feat(nodes): Allow for passing of arguments to methods from the API endpoint.
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/views.py
Due: ruff, mypy

fix(skills): Fix typing error when building core package from front-end
  node/packages/core/src/skills/api.ts
  node/packages/core/src/skills/paperQA.ts
  node/packages/core/src/types.ts
Due: none

feat(skills): Node worker can run skills using method argument and buddy
  .pre-commit-config.yaml
  CONTRIBUTING.md
  backend/nodes/serializers.py
  node/crdt/src/worker.ts
  node/packages/core/src/canvas.ts
  node/packages/core/src/index.ts
  node/packages/core/src/skills/createTasks.ts
Due: ruff, mypy, eslint-crdt, prettier-crdt, tsc-crdt
