Repository coordnet/coordnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend

Path conditions:
  ruff: any of: \.py$, but not: ^docs/|/migrations/
  mypy: any of: \.py$, but not: ^docs/|/migrations/
  eslint-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-crdt: any of: ^node/crdt/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-frontend: any of: ^node/frontend/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/

build: Update front-end packages
  node/crdt/package.json
  node/frontend/package.json
  node/package.json
  node/packages/core/package.json
  node/pnpm-lock.yaml
Due: prettier-crdt, prettier-frontend

feat(auth): Add JWT authentication support.
  .envs/.local/.django.secrets.example
  .envs/.local/.secrets.example
  .gitignore
  README.md
  backend/config/settings/base.py
  backend/users/api/urls.py
  compose.yml
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy

feat(nodes): Add context endpoint for nodes.
  CHANGELOG.md
  backend/nodes/models.py
  backend/nodes/tests/fixtures.py
  backend/nodes/tests/test_models.py
  backend/nodes/tests/test_node_sync.py
  backend/nodes/tests/test_views/test_nodes.py
  backend/nodes/views.py
Due: ruff, mypy

fix(skills): Use method data to create a run from the UI
  .pre-commit-config.yaml
  node/.prettierrc
  node/crdt/src/server.ts
  node/crdt/src/utils.ts
  node/crdt/src/worker.ts
  node/frontend/.prettierrc.docker.json
  node/frontend/src/Skill.tsx
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
  node/frontend/src/components/Spaces/Header.tsx
  node/frontend/src/hooks/useConnectedDocument.ts
  node/frontend/src/hooks/useRunSkill.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend

feat(canvas): Refactor file drop to support multiple types at once and add markdown
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/utils/handleCanvasDrop.ts
  node/frontend/src/components/Canvas/utils/index.ts
  node/frontend/src/components/Canvas/utils/markmapImport.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(auth): Pass JWT credentials to server executing a skill so it can query on behalf of the user.
  CHANGELOG.md
  backend/nodes/views.py
Due: ruff, mypy

fix(nodes): Return the encoded JWT instead of the Token instance.
  backend/nodes/views.py
Due: ruff, mypy

feat(skills): Allow adding nodes from spaces to skills and add their context to prompts
  node/crdt/src/worker.ts
  node/frontend/src/Skill.tsx
  node/frontend/src/components/Canvas/ExternalNode.tsx
  node/frontend/src/components/Canvas/Sidebar.tsx
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/NodeRepository.tsx
  node/frontend/src/hooks/useRunSkill.ts
  node/packages/core/src/skills/api.ts
  node/packages/core/src/skills/createTasks.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/types.ts
Due: eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend

fix(auth): Switch WS buddy communication to JWT.
  backend/buddies/consumers.py
  backend/config/asgi.py
  backend/config/settings/base.py
  backend/coordnet/utils/__init__.py
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy

fix(canvas): Parse tables when adding content to node pages
  node/packages/core/src/skills/utils.ts
Due: none

fix(auth): Switch WS buddy communication to JWT.
  backend/buddies/consumers.py
  backend/config/asgi.py
  backend/coordnet/utils/__init__.py
Due: ruff, mypy

feat(auth): Use JWT auth for UI, CRDT server and worker
  .envs/.local/.secrets.example
  .github/workflows/k8s.yml
  .pre-commit-config.yaml
  .pre-commit-run.sh
  README.md
  kubernetes/secrets-template.yaml
  node/crdt/src/server.ts
  node/crdt/src/settings.ts
  node/crdt/src/utils.ts
  node/crdt/src/worker.ts
  node/frontend/package.json
  node/frontend/src/api/index.ts
  node/frontend/src/api/jwt.ts
  node/frontend/src/auth/Login.tsx
  node/frontend/src/components/Canvas/utils/index.ts
  node/frontend/src/components/LLM/index.tsx
  node/frontend/src/hooks/useConnectedDocument.ts
  node/frontend/src/hooks/useUser.ts
  node/frontend/src/lib/canvases.ts
  node/frontend/src/lib/nodes.ts
  node/frontend/src/lib/utils.ts
  node/pnpm-lock.yaml
Due: eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend

Revert "fix(auth): Switch WS buddy communication to JWT."
  backend/buddies/consumers.py
  backend/config/asgi.py
  backend/config/settings/base.py
  backend/coordnet/utils/__init__.py
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy

feat(skills): Add error handling to show in the UI when certain nodes prompts fail
  node/frontend/src/components/Canvas/Nodes/CanvasNode.tsx
  node/frontend/src/components/Canvas/Nodes/ExternalNode.tsx
  node/frontend/src/components/Canvas/Nodes/Footer.tsx
  node/frontend/src/components/Canvas/Nodes/HoverMenu.tsx
  node/frontend/src/components/Canvas/Nodes/NodeError.tsx
  node/frontend/src/components/Canvas/Versions.tsx
  node/frontend/src/components/Canvas/hooks/useUndoRedo.ts
  node/frontend/src/components/Canvas/hooks/useYdocState.ts
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/utils/elktjs.d.ts
  node/frontend/src/components/Canvas/utils/getLayoutedNodes.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/tables.ts
  node/packages/core/src/skills/utils.ts
  node/packages/core/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(canvas): Add a warning if dragging in more than 100 files
  node/frontend/src/components/Canvas/utils/handleCanvasDrop.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Remove torch capability to allow easy multi-arch build.
  .pre-commit-config.yaml
  backend/tools/open_deep_research/requirements.txt
  backend/tools/open_deep_research/run_agents.py
  backend/tools/views.py
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy

feat(buddies): Add buddies to admin interface.
  backend/buddies/admin.py
Due: ruff, mypy

build: Fix k8s config and add JWT ENV vars to secrets
  .github/workflows/k8s.yml
  kubernetes/secrets-template.yaml
Due: none

ci: Create missing secrets file in CI.
  .github/workflows/ci.yml
Due: none

fix(canvas): Hide node repo button on sklil canvas if you have no spaces
  node/frontend/src/components/Canvas/Sidebar.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

ci: Copy example secrets over instead of just creating and empty file.
  .github/workflows/ci.yml
Due: none

ci: also replace empty secrets file with example.
  .github/workflows/ci.yml
Due: none

fix(canvas): Filter out certain node types from node type selection dropdown
  node/frontend/src/components/Canvas/Nodes/CanvasNode.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(skills): Make read-only permissions more robust by separating out scope of read-only skills with input abilities
  node/frontend/src/Skill.tsx
  node/frontend/src/components/Canvas/Sidebar.tsx
  node/frontend/src/components/Canvas/hooks/useYdocState.ts
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/EditableNode.tsx
  node/frontend/src/components/Editor/index.tsx
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
  node/frontend/src/components/Skills/SkillVersions.tsx
  node/frontend/src/hooks/useYDoc/provider.tsx
  node/frontend/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

build: Update dependabot npm folder
  .github/dependabot.yml
Due: none

docs: Fix logo path.
  README.md
Due: none

feat(skills): Buddies can be set per prompt node
  CHANGELOG.md
  node/frontend/src/components/Canvas/Nodes/BuddySelect.tsx
  node/frontend/src/components/Canvas/Nodes/CanvasNode.tsx
  node/frontend/src/components/Canvas/Nodes/NodeTypeSelect.tsx
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Add local PaperQA setup for testing.
  .envs/.local/.django
  .envs/.local/.secrets.example
  .gitignore
  backend/config/settings/base.py
  backend/tools/paperqa/home/.keep
  backend/tools/paperqa/pdfs/.keep
  backend/tools/serializers.py
  backend/tools/urls.py
  backend/tools/views.py
  node/frontend/src/components/Canvas/Nodes/NodeTypeSelect.tsx
  node/packages/core/src/skills/paperQA.ts
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy, eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): WIP - Add ability for skills to output content to Spaces
  backend/config/settings/base.py
  node/crdt/src/worker.ts
  node/frontend/src/components/Canvas/Controls.tsx
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/utils/elktjs.d.ts
  node/frontend/src/components/Canvas/utils/getLayoutedNodes.ts
  node/frontend/src/components/Canvas/utils/handleCanvasDrop.ts
  node/frontend/src/components/Canvas/utils/markmapImport.ts
  node/frontend/src/components/Skills/SkillCanvasControls.tsx
  node/frontend/src/lib/nodes.ts
  node/frontend/src/types.ts
  node/packages/core/package.json
  node/packages/core/src/canvas.ts
  node/packages/core/src/index.ts
  node/packages/core/src/markmap.ts
  node/packages/core/src/skills/createTasks.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/externalData.ts
  node/packages/core/src/skills/markmap.ts
  node/packages/core/src/skills/tables.ts
  node/packages/core/src/skills/utils.ts
  node/packages/core/src/types.ts
  node/pnpm-lock.yaml
Due: ruff, mypy, eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Allow paper QA nodes to be output to responses multiple nodes
  node/packages/core/src/skills/paperQA.ts
Due: none

feat(skills): Track external data nodes IDs across responses
  node/frontend/src/components/Canvas/Nodes/ExternalNode.tsx
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/externalData.ts
  node/packages/core/src/skills/paperQA.ts
  node/packages/core/src/skills/utils.ts
  node/packages/core/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Use JSON when adding to a space node page from a skill
  node/packages/core/src/skills/externalData.ts
  node/packages/core/src/skills/utils.ts
Due: none

fix(canvas): Import edge targets when importing a node
  node/frontend/src/lib/nodes.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix(auth): Fix JWT bug to enable viewing of public spaces
  node/frontend/src/api/jwt.ts
  node/frontend/src/components/Editor/index.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(skills): Add endpoint to convert various document types into markdown.
  CHANGELOG.md
  CONTRIBUTING.md
  backend/tools/serializers.py
  backend/tools/tests.py
  backend/tools/tests/__init__.py
  backend/tools/tests/fixtures/test_document.docx
  backend/tools/tests/fixtures/test_spreadsheet.xlsx
  backend/tools/tests/test_markitdown.py
  backend/tools/tests/tools.py
  backend/tools/urls.py
  backend/tools/views.py
  backend/users/tests/factories.py
  backend/utils/testcases.py
  docs/redoc-static.html
  docs/schema.yml
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, mypy

ci(deployment): Add node worker and update k8s tests, build images locally
  .github/workflows/k8s.yml
  backend/config/settings/base.py
  kubernetes/README.md
  kubernetes/configmaps.yaml
  kubernetes/deployments.yaml
  kubernetes/jobs-django-migrate.yaml
  kubernetes/kustomization.yaml
  kubernetes/minio.yaml
  kubernetes/secrets-template.yaml
  kubernetes/services.yaml
  node/crdt/src/server.ts
  node/crdt/src/types.ts
  node/crdt/src/utils.ts
  node/crdt/src/worker.ts
Due: ruff, mypy, eslint-crdt, prettier-crdt, tsc-crdt

build: Add worker process to node deployment.
  fly.hocuspocus.toml
Due: none

feat(skills): Add simplified skills runner interface
  node/frontend/src/assets/line-1.svg
  node/frontend/src/auth/Login.tsx
  node/frontend/src/components/Skills/SkillCard.tsx
  node/frontend/src/components/Skills/SkillRunHistory.tsx
  node/frontend/src/components/SkillsRunner/Input.tsx
  node/frontend/src/components/SkillsRunner/Output.tsx
  node/frontend/src/components/SkillsRunner/Skill.tsx
  node/frontend/src/components/SkillsRunner/index.tsx
  node/frontend/src/components/index.ts
  node/frontend/src/components/ui/dialog.tsx
  node/frontend/src/hooks/useUser.ts
  node/frontend/src/main.tsx
  node/frontend/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend
