Repository coordnet/coordnet: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core

ruff:
  name: ruff
  language: python
  language_version: python3.11
  require_serial: true
  entry: bash .pre-commit-run.sh django ruff check

eslint-crdt:
  name: eslint (crdt)
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm eslint

prettier-crdt:
  name: prettier (crdt)
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm prettier --write --config /app/.prettierrc

tsc-crdt:
  name: tsc (crdt)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh crdt pnpm tsc --project tsconfig.json

eslint-frontend:
  name: eslint (frontend)
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm eslint

prettier-frontend:
  name: prettier (frontend)
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm prettier --write --config /app/.prettierrc

tsc-frontend:
  name: tsc (frontend)
  pass_filenames: false
  language: node
  entry: bash .pre-commit-run.sh frontend pnpm tsc --project tsconfig.json

eslint-core:
  name: eslint (core)
  language: node
  entry: bash .pre-commit-run.sh frontend cd /app/packages/core; pnpm eslint

prettier-core:
  name: prettier (core)
  language: node
  entry: bash .pre-commit-run.sh frontend cd /app/packages/core; pnpm prettier --write --config /app/.prettierrc

build: Update front-end packages
  node/crdt/package.json
  node/frontend/package.json
  node/package.json
  node/packages/core/package.json
  node/pnpm-lock.yaml
Due: prettier-crdt, prettier-frontend, prettier-core

build: Cleanup gitignore
  .gitignore
Due: none

build: Upgrade serialize-error
  node/frontend/package.json
  node/frontend/src/components/ErrorPage.tsx
  node/frontend/src/components/Profiles/ProfileCardFind.tsx
  node/frontend/src/components/Profiles/ProfileSkillCardExpanded.tsx
  node/frontend/src/components/Skills/SkillCardExpanded.tsx
  node/frontend/src/lib/utils.ts
  node/pnpm-lock.yaml
Due: eslint-frontend, prettier-frontend, tsc-frontend

build: Upgrade node from 22 to 24 in Docker images
  compose/crdt/Dockerfile
  compose/django/Dockerfile
  compose/frontend/Dockerfile
Due: none

feat(skills): Add FutureHouse Platform API integration.
  CHANGELOG.md
  backend/config/settings/base.py
  backend/tools/serializers.py
  backend/tools/tests/test_futurehouse.py
  backend/tools/urls.py
  backend/tools/views.py
  node/frontend/src/components/Canvas/Nodes/CanvasNode.tsx
  node/frontend/src/components/Canvas/Nodes/FutureHouseAgentSelect.tsx
  node/packages/core/src/skills/api.ts
  node/packages/core/src/skills/createTasks.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/paperQA.ts
  node/packages/core/src/types.ts
  requirements/base.in
  requirements/local.txt
  requirements/production.txt
Due: ruff, eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core

feat(skills): Enable forking of skills in the UI
  CHANGELOG.md
  backend/nodes/migrations/0043_node_node_is_removed_idx.py
  backend/nodes/models.py
  backend/nodes/serializers.py
  backend/nodes/tests/test_views/test_methods.py
  backend/nodes/views.py
  backend/profiles/tests/test_views.py
  backend/profiles/views.py
  node/frontend/src/Dashboard.tsx
  node/frontend/src/api/index.ts
  node/frontend/src/components/Skills/Header.tsx
  node/frontend/src/components/Skills/SkillActionsDropdown.tsx
  node/frontend/src/components/Skills/SkillCard.tsx
  node/frontend/src/components/Skills/SkillForkModal.tsx
  node/frontend/src/components/Skills/SkillVersions.tsx
  node/frontend/src/components/Skills/utils.ts
  node/frontend/src/hooks/index.ts
  node/frontend/src/hooks/useModal/context.ts
  node/frontend/src/hooks/useModal/index.ts
  node/frontend/src/hooks/useModal/provider.tsx
  node/frontend/src/lib/utils.ts
  node/frontend/src/main.tsx
  node/frontend/src/types.ts
  node/packages/core/src/types.ts
Due: ruff, eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core

feat(skills): Make forked_from return just fields reuquired by front-end and update tests
  backend/nodes/serializers.py
  backend/nodes/tests/test_views/test_methods.py
  backend/nodes/views.py
  node/frontend/src/components/Skills/SkillCard.tsx
  node/packages/core/src/types.ts
Due: ruff, eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core

feat(skills): Poll back-end FutureHouse API call status endpoint
  node/packages/core/src/skills/api.ts
  node/packages/core/src/skills/paperQA.ts
  node/packages/core/src/types.ts
Due: eslint-core, prettier-core

refactor: Fix issues flagged by latest ruff version.
  backend/buddies/apps.py
  backend/nodes/apps.py
  backend/profiles/apps.py
  backend/tools/apps.py
  backend/users/apps.py
  backend/utils/apps.py
  backend/utils/storage.py
Due: ruff

feat(llm): Add basic litellm support.
  CHANGELOG.md
  README.md
  backend/buddies/consumers.py
  backend/buddies/models.py
  backend/buddies/views.py
  backend/config/settings/local.py
  backend/llms/migrations/0002_llmodel_api_base_llmodel_provider.py
  backend/llms/models.py
  backend/llms/utils.py
  backend/nodes/views.py
  backend/utils/storage.py
  backend/utils/tests/test_llm.py
  requirements/base.in
  requirements/local.in
  requirements/local.txt
  requirements/production.txt
Due: ruff

build: Upgrade Tiptap and Hocuspocus to v3 (and other pnpm packages)
  CHANGELOG.md
  backend/coordnet/templates/pages/home.html
  node/.prettierrc
  node/crdt/package.json
  node/crdt/src/server.ts
  node/frontend/.prettierrc.docker.json
  node/frontend/index.html
  node/frontend/package.json
  node/frontend/src/components/Editor/MenuBar.tsx
  node/frontend/src/components/Editor/Versions.tsx
  node/frontend/src/components/Editor/extensions/index.ts
  node/frontend/src/components/Editor/index.tsx
  node/frontend/src/components/Editor/styles.css
  node/frontend/src/hooks/useConnectedDocument.ts
  node/frontend/src/lib/utils.ts
  node/frontend/src/vite-env.d.ts
  node/packages/core/package.json
  node/packages/core/src/generateJSON.ts
  node/packages/core/src/skills/utils.ts
  node/pnpm-lock.yaml
Due: eslint-crdt, prettier-crdt, tsc-crdt, eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core

feat(skills): Add looping over table rows as input to prompts
  node/frontend/src/components/Canvas/Nodes/CanvasNode.tsx
  node/frontend/src/components/Editor/MenuBar.tsx
  node/packages/core/src/skills/createTasks.ts
  node/packages/core/src/skills/executeTasks.ts
  node/packages/core/src/skills/utils.ts
  node/packages/core/src/types.ts
Due: eslint-frontend, prettier-frontend, tsc-frontend, eslint-core, prettier-core

build: Upgrade workspace packages
  node/package.json
  node/pnpm-lock.yaml
Due: none

feat: add Figma-style alignment guides and multi-select to canvas
  node/frontend/src/components/Canvas/AlignmentGuides.tsx
  node/frontend/src/components/Canvas/AlignmentSettings.tsx
  node/frontend/src/components/Canvas/AutoAlignment.tsx
  node/frontend/src/components/Canvas/FeatureShowcase.tsx
  node/frontend/src/components/Canvas/MultiSelectResize.tsx
  node/frontend/src/components/Canvas/PixelDistances.tsx
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/utils/handleCanvasDrop.ts
  node/frontend/src/components/Canvas/utils/index.ts
  node/frontend/src/components/Editor/extensions/NodeComponent.tsx
  node/frontend/src/components/Node.tsx
  node/frontend/src/components/SkillsRunner/Output.tsx
  node/frontend/src/components/ui/badge.tsx
  node/frontend/src/components/ui/card.tsx
  node/frontend/src/components/ui/tabs.tsx
  node/frontend/src/hooks/index.ts
  node/frontend/src/hooks/useKeyboardState.ts
  node/frontend/src/types/global.d.ts
  node/frontend/src/types/jsx.d.ts
  node/frontend/tsconfig.json
Due: eslint-frontend, prettier-frontend, tsc-frontend

feat(ui):Adding Alignment lines, distance between moving nodes
  node/frontend/src/components/Canvas/AlignmentGuideRenderer.tsx
  node/frontend/src/components/Canvas/AlignmentLayer.tsx
  node/frontend/src/components/Canvas/AlignmentSettings.tsx
  node/frontend/src/components/Canvas/Controls.tsx
  node/frontend/src/components/Canvas/hooks/useAlignment.ts
  node/frontend/src/components/Canvas/hooks/useKeyboardState.ts
  node/frontend/src/components/Canvas/index.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

refactor: remove pixel distances and auto-alignment features from canvas
  node/frontend/src/components/Canvas/AlignmentGuides.tsx
  node/frontend/src/components/Canvas/AlignmentSettings.tsx
  node/frontend/src/components/Canvas/AutoAlignment.tsx
  node/frontend/src/components/Canvas/FeatureShowcase.tsx
  node/frontend/src/components/Canvas/MultiSelectResize.tsx
  node/frontend/src/components/Canvas/PixelDistances.tsx
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/utils/handleCanvasDrop.ts
  node/frontend/src/components/Canvas/utils/index.ts
  node/frontend/src/components/Editor/extensions/NodeComponent.tsx
  node/frontend/src/components/Node.tsx
  node/frontend/src/components/SkillsRunner/Output.tsx
  node/frontend/src/components/ui/badge.tsx
  node/frontend/src/components/ui/card.tsx
  node/frontend/src/components/ui/tabs.tsx
  node/frontend/src/hooks/useKeyboardState.ts
  node/frontend/src/types/global.d.ts
  node/frontend/src/types/jsx.d.ts
  node/frontend/tsconfig.json
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix: remove unnecessary allowSyntheticDefaultImports from tsconfig
  node/frontend/tsconfig.json
Due: prettier-frontend

refactor: remove multi-select resize feature and clean up alignment system
  node/frontend/src/components/Canvas/AlignmentGuides.tsx
  node/frontend/src/components/Canvas/AlignmentSettings.tsx
  node/frontend/src/components/Canvas/MultiSelectResize.tsx
  node/frontend/src/components/Canvas/index.tsx
  node/frontend/src/components/Canvas/utils/handleCanvasDrop.ts
  node/frontend/src/components/Node.tsx
  node/frontend/src/hooks/index.ts
  node/frontend/src/hooks/useAlignment/context.ts
  node/frontend/src/hooks/useAlignment/index.ts
  node/frontend/src/hooks/useAlignment/provider.tsx
Due: eslint-frontend, prettier-frontend, tsc-frontend

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat(profiles): Add realtime social media link validation
  backend/profiles/serializers.py
  backend/profiles/validation.py
  node/frontend/src/components/Profiles/EditProfile.tsx
  node/frontend/src/components/Profiles/ValidationIndicator.tsx
  node/frontend/src/types.ts
  node/frontend/src/utils/socialMediaValidation.ts
Due: ruff, eslint-frontend, prettier-frontend, tsc-frontend

feat: Enhance image upload handling with orphaned file cleanup and error logging
  backend/profiles/views.py
Due: ruff

feat: Add writer role and update role options for permissions
  backend/permissions/models.py
Due: ruff

feat(search): optimize Node search performance and caching
  backend/nodes/models.py
  backend/nodes/views.py
Due: ruff

fix(websocket): improve WebSocket connection management and stability
  backend/buddies/consumers.py
Due: ruff

Path conditions:
  ruff: any of: \.py$, but not: ^docs/|/migrations/
  eslint-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-crdt: any of: ^node/crdt/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-crdt: any of: ^node/crdt/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-frontend: any of: ^node/frontend/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
  tsc-frontend: any of: ^node/frontend/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  eslint-core: any of: ^node/packages/core/.*\.[jt]sx?$, but not: ^docs/|/migrations/
  prettier-core: any of: ^node/packages/core/.*\.(js|jsx|ts|tsx|css|scss|html|json|md)$ and not (^(pnpm-lock\.yaml|\.git)) and not (^docs/|/migrations/)
